.dashboard-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 31px auto;
}

.dashboard-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.dashboard-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.dashboard-container ul a {
  text-decoration: none;
  color: black;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  transition: border-color 0.2s;
}

.dashboard-container ul a:hover {
  border-color: #999;
}

.dashboard-container ul li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.card {
  display: flex;
  align-items: center;
}

.card img {
  width: 100px;
}

.card strong {
  font-size: 36px;
  margin-left: 100px;
}
